<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle辞書</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
    <div id="app">
        <main>
            <h1>Wordle辞書</h1>
            <p>緑と黄色い文字の欄には半角英語一文字ずつ，場所に気を付けて入れてください．空欄でも構わないです．</p>
            <p>黒い文字の欄には文字を一気に入れることができます．（一文字ずつでなくてもOK）</p>
            <p>入力文字に対してのバリデーションはしてません．</p>
            <p>お問い合わせ：<a href="https://twitter.com/ITF_tako">@ITF_tako</a></p>
            <p>パワ－</p>
            緑色の文字：<br>
            <input v-model="greenWord1" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: green;">
            <input v-model="greenWord2" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: green;">
            <input v-model="greenWord3" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: green;">
            <input v-model="greenWord4" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: green;">
            <input v-model="greenWord5" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: green;">
            <button v-on:click="addGreen()">追加</button><br>

            黄色い文字：<br>
            <input v-model="yellowWord1" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: yellow;">
            <input v-model="yellowWord2" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: yellow;">
            <input v-model="yellowWord3" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: yellow;">
            <input v-model="yellowWord4" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: yellow;">
            <input v-model="yellowWord5" placeholder="edit" maxlength="1" class="wordForm"
                style="background-color: yellow;">
            <button v-on:click="addYellow()">追加</button><br>
            黒い文字：<br>
            <input v-model="blackWord" placeholder="edit" class="wordForm" style="background-color:grey">
            <button v-on:click="addBlack()">追加</button><br>


            <div style="background-color: silver; padding: 0.5rem; margin:0.5rem;">
                <h3>入力された緑色文字</h3>
                <span v-for="word in greenWords" :key="word" style="color: green;">
                    文字： {{word.word}}, 場所： {{word.place}} <br>
                </span>
                <h3>入力された黄色文字</h3>
                <span v-for="word in yellowWords" :key="word" style="color: yellow;">
                    文字： {{word.word}}, 場所： {{word.place}} <br>
                </span>
                <h3>入力された黒色文字</h3>
                <span v-for="word in blackWords" :key="word">
                    {{word}},
                </span>
            </div>


            <h2>単語候補</h2>
            <div v-for="word in wordList" :key="word">
                <p v-if="checkRule(word)" class="card">
                    単語：{{word}} <br>
                </p>
            </div>
        </main>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            blackWord: "",
            greenWord1: "",
            greenWord2: "",
            greenWord3: "",
            greenWord4: "",
            greenWord5: "",
            yellowWord1: "",
            yellowWord2: "",
            yellowWord3: "",
            yellowWord4: "",
            yellowWord5: "",
            yellowWords: [],
            blackWords: [],
            wordList: [],
            greenWords: []
        },
        mounted: function () {
            fetch("./data/wordles.json")
                .then(response => response.json())
                .then(data => this.wordList = data)
        },
        methods: {
            createObject: function (place, word) {
                let wordObject = new Object();
                wordObject.place = place;
                wordObject.word = word;
                return wordObject;
            },
            addGreen: function () {
                if (this.greenWord1 != "")
                    this.greenWords.push(this.createObject(0, this.greenWord1));
                if (this.greenWord2 != "")
                    this.greenWords.push(this.createObject(1, this.greenWord2));
                if (this.greenWord3 != "")
                    this.greenWords.push(this.createObject(2, this.greenWord3));
                if (this.greenWord4 != "")
                    this.greenWords.push(this.createObject(3, this.greenWord4));
                if (this.greenWord5 != "")
                    this.greenWords.push(this.createObject(4, this.greenWord5));
                this.greenWord1 = "";
                this.greenWord2 = "";
                this.greenWord3 = "";
                this.greenWord4 = "";
                this.greenWord5 = "";
                // 黒文字リストに緑色の文字が存在する場合はその文字を黒文字リストから消す
                this.blackWords = this.blackWords.filter(elm1 => this.greenWords.map(elm2 => elm2.word).every(elm3 => elm3 !== elm1));
            },
            addBlack: function () {
                if (this.blackWord != "")
                    this.blackWords = this.blackWords.concat([...this.blackWord]);
                this.blackWord = "";
                // 黒文字リストに緑色の文字が存在する場合はその文字を黒文字リストから消す
                this.blackWords = this.blackWords.filter(elm1 => this.greenWords.map(elm2 => elm2.word).every(elm3 => elm3 !== elm1));
                // 黒文字リストに黄色の文字が存在する場合はその文字を黒文字リストから消す
                this.blackWords = this.blackWords.filter(elm1 => this.yellowWords.map(elm2 => elm2.word).every(elm3 => elm3 !== elm1));
            },
            addYellow: function () {
                if (this.yellowWord1 != "")
                    this.yellowWords.push(this.createObject(0, this.yellowWord1));
                if (this.yellowWord2 != "")
                    this.yellowWords.push(this.createObject(1, this.yellowWord2));
                if (this.yellowWord3 != "")
                    this.yellowWords.push(this.createObject(2, this.yellowWord3));
                if (this.yellowWord4 != "")
                    this.yellowWords.push(this.createObject(3, this.yellowWord4));
                if (this.yellowWord5 != "")
                    this.yellowWords.push(this.createObject(4, this.yellowWord5));
                this.yellowWord1 = "";
                this.yellowWord2 = "";
                this.yellowWord3 = "";
                this.yellowWord4 = "";
                this.yellowWord5 = "";
                // 黒文字リストに黄色の文字が存在する場合はその文字を黒文字リストから消す
                this.blackWords = this.blackWords.filter(elm1 => this.yellowWords.map(elm2 => elm2.word).every(elm3 => elm3 !== elm1));
            },
            checkRule: function (word) {
                let oneword = [...word];
                // 各場所から黄色文字をはじく
                let test1 = !this.yellowWords.some(elm => elm.place === 0 && elm.word === oneword[0]);
                let test2 = !this.yellowWords.some(elm => elm.place === 1 && elm.word === oneword[1]);
                let test3 = !this.yellowWords.some(elm => elm.place === 2 && elm.word === oneword[2]);
                let test4 = !this.yellowWords.some(elm => elm.place === 3 && elm.word === oneword[3]);
                let test5 = !this.yellowWords.some(elm => elm.place === 4 && elm.word === oneword[4]);
                // 黄色文字を全てその単語は含んでいるか(場所についてはtest1-5で考慮しているのでtest6は場所を考慮しない)
                let test6 = this.yellowWords.map(elm => elm.word).every(elm => word.includes(elm));
                // ブラックリストにある文字を含む単語はじく
                let test7 = this.blackWords.every(elm => !oneword.includes(elm));
                // 緑色の文字を必ずその場所に含む
                let test8 = this.greenWords.every(elm => elm.word === oneword[elm.place]);
                return test1 && test2 && test3 && test4 && test5 && test6 && test7 && test8;
            },
        }
    })
</script>
<style>
    @import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

    html {
        font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
        background-color: #d6d6ca;
    }

    main {
        width: 90%;
        margin: auto;
    }

    .card {
        padding: 1rem;
        background-color: #8cc5f3;
    }

    .wordForm {
        width: 2rem;
        height: 2rem;
    }
</style>

</html>